<% @items.each do |item| %>
  <div class="container">
    <h2><%= item.category.title %></h2>
    <div class = "row">
     <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">Price:<%= item.price %></li>
        <li class="list-group-item">Description:<%= item.description %></li>
      </ul>
     </div>
      <% if user_signed_in? %>
       <div class="col-md-2">
         <%= link_to "Do Booking" ,new_item_book_path(item), class: "btn btn-primary"%>
       </div>
      <% end %>
    </div>
  </div>
<% end %>